<h2>Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="alert alert-info" role="alert">
      <strong><i>/wave</i></strong> Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    </div>
  <% end %>
  <div class="editable-settings-container">
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'Change Email' %>
        <br />
        <%= f.email_field :email, class: 'w100 input-field', autofocus: true, autocomplete: 'email' %>
      </div>
      <div class="col-md-6">
        <%= f.label 'New Password' %>
        <br />
        <%= f.password_field :password, class: 'w100 input-field', autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>

        <%= f.label 'Confirm Password' %>
        <br />
        <%= f.password_field :password_confirmation, class: 'w100 input-field', autocomplete: "new-password" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= link_to 'Back', :back, class: 'btn btn-light btn-sm back-btn' %>
      </div>
      <div class="col-md-6">
        <%= f.label 'Confirm Changes' %><br />
        <%= f.password_field :current_password, class: 'w100 input-field', autocomplete: "current-password", placeholder: 'Password' %>
        <br />
        <br />
        <%= button_to 'Cancel my account', registration_path(resource_name), class: 'btn btn-danger btn-sm', data: { confirm: "Are you sure?" }, method: :delete %>
        <%= f.submit 'Update', class: 'btn btn-dark btn-sm pos-fr' %>
      </div>
    </div>
  </div>
  <div class="clear"></div>
<% end %>
