<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'wow-icon.png', class: 'navbar-brand-img' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <%= link_to 'My Tome', tome_index_url, class: 'nav-link' %>
      <%= link_to 'Character', characters_url, class: 'nav-link' %>
    </ul>
    <ul class="navbar-nav flex-float-right">
      <%= display_authentication_nav_items %>
    </ul>
  </div>
</nav>
