<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name, placeholder: 'name' %>
  <%= form.text_field :level, placeholder: 'level', value: 1 %>
  <%= form.text_field :location, placeholder: 'location', value: 'test' %>
  <%= form.text_field :gold, placeholder: 'gold', value: 0 %>
  <%= form.text_field :achievement_points, placeholder: 'achievement points', value: 0 %>
  <%= form.text_field :professions, placeholder: 'professions' %>

  <br />
  <br />

  <%= display_character_class_select(form) %>

  <br />
  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_include_tag 'class_specializations' %>
